/*--- custom post 930 --- use for thematic320 and up theme only ---*/
html, #respond {
	background: #f7f9c6;
}
#blog-title, #blog-title a {
	font-family:Helvetica, "Helvetica Neue", Arial,sans-serif;
	font-weight: 900;
	font-style: italic;
	color: #eb75b0;
	letter-spacing: -1px;
}
#blog-title a:hover{
	color: #d62a8c;
}
.entry-title {
    color: #eb75b0;
    letter-spacing: 2px;
}
.menu ul li, textarea, input{
	background: #fcdaf8;
}
#primary.aside.main-aside {
	background: #dafcf5;
}

::-moz-selection { background: #444444; color: #fcfde9; text-shadow: none; }
::selection { background: #444444; color: #fcfde9; text-shadow: none; }
